Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов.
Даны значения роста в трех группах случайно выбранных спортсменов:

Футболисты: 173, 175, 180, 178, 177, 185, 183, 182.

Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180.

Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [5]:
from scipy import stats
import pandas as pd
import numpy as np

footballers = np.array([173, 175, 180, 178, 177, 185, 183, 182])
hokkey = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])
lifter = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])

**Проверим нормальность данных выборок по тесту Шапиро-Уилко:**

In [6]:
stats.shapiro(footballers)

ShapiroResult(statistic=0.9775082468986511, pvalue=0.9495404362678528)

In [8]:
stats.shapiro(hokkey)

ShapiroResult(statistic=0.9579196572303772, pvalue=0.7763139009475708)

In [7]:
stats.shapiro(lifter)

ShapiroResult(statistic=0.9386808276176453, pvalue=0.5051165223121643)

**Все выборки имеют нормальное распределение.**
**Проверим на равенство дисперсий:**

In [9]:
stats.bartlett(footballers, hokkey, lifter)

BartlettResult(statistic=0.4640521043406442, pvalue=0.7929254656083131)

**Используя критерий фишера проведем анализ выборок**

In [12]:
stats.f_oneway(footballers, hokkey, lifter)

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

**На уровне статистической значимости alpha = 0.05 выборки имеют статистически значимые различия
Проведем post Hoc Test для оценки различий м\д выборками:**

In [62]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

data = pd.DataFrame({'group': ['footballers']*8 + ['hokkey']*9 + ['lifter']*11,
                     'height': [173, 175, 180, 178, 177, 185, 183, 182,
                                177, 179, 180, 188, 177, 172, 171, 184, 180,
                                172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170]})
data

          group  height
0   footballers     173
1   footballers     175
2   footballers     180
3   footballers     178
4   footballers     177
5   footballers     185
6   footballers     183
7   footballers     182
8        hokkey     177
9        hokkey     179
10       hokkey     180
11       hokkey     188
12       hokkey     177
13       hokkey     172
14       hokkey     171
15       hokkey     184
16       hokkey     180
17       lifter     172
18       lifter     173
19       lifter     169
20       lifter     177
21       lifter     166
22       lifter     180
23       lifter     178
24       lifter     177
25       lifter     172
26       lifter     166
27       lifter     170

In [67]:
tukey = pairwise_tukeyhsd(data["height"], data["group"], alpha = 0.05)
print(tukey)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
==========================================================
   group1   group2 meandiff p-adj   lower    upper  reject
----------------------------------------------------------
footballers hokkey  -0.4583  0.979  -6.2732  5.3566  False
footballers lifter  -6.3977 0.0219 -11.9583 -0.8372   True
     hokkey lifter  -5.9394 0.0284 -11.3181 -0.5607   True
----------------------------------------------------------

**Статистически значимые различия наблюдаются между ростом штангистов и других спортсменов. М\д футболистами и хоккеистами статистически значимых различий в росте нет.**